header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid black;
}

.header-links {
    text-decoration: none;
}

.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 320px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1.5px solid black;
}

.main-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 100px;
}

.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

