.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.reg-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}